body {
    background-image: url("../Airplane-decoliren.png");
    background-size: 100% 100%;
}

h3 {
    color: white;
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 115px;
    height: 20px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button {
    margin-left: auto;
    margin-right: 10px;
    left: 65%;
    position: relative;
    top: -45px;
    height: 30px;
    border-radius: 5px;
}

#form {
    position: fixed;
    top: 20px;
    left: 30px;
    width: 45%;
}

li {
    background: #DEB666;
    border: cadetblue;
    color: mediumpurple;
    list-style: none;
    opacity: .9;
    width: 100%;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 3px;
}

ul {
    padding-left: 0px;
}

form {
    opacity: .9;
    background: cadetblue;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

form ul {
    margin-left: 10px;
}

form input {
    height: 30px;
    display: block;
    width: 65%;
    opacity: unset;
    margin: 10px;
    border-radius: 5px;
}

#submit-button {
    border-radius: 5px;
    width: 120px;
}